<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" type="image/svg" href="https://s3.amazonaws.com/shecodesio-production/uploads/files/000/042/836/original/favicon.png?1659736309" />
    <title>Quartz | Project Management Tool</title>
    <link rel="stylesheet" type="mime" href="../../public/css/marx.css" />
    <link rel="stylesheet" type="mime" href="../../public/css/style.css">
    <link rel="stylesheet" type="mime" href="../../public/css/index.css" />

    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>

  <header>
    {{> navbar }}
  </header>

  <main>
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>


<footer class="text-center bg-gray-800 text-white bottom-0 min-w-full">
  {{> footer }}
</footer>

</body>

</html>
